.container {
  max-width: 1920px;
  min-width: 1024px;
  padding-right: 6%;
  padding-left: 6%;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2%;
}
.row > :not([class*='col-']) {
  grid-column: span 12;
}

.col-1 {
  grid-column: span 1;
}
.col-1.col-start-1 {
  grid-column: 1 / span 1;
}
.col-1.col-start-2 {
  grid-column: 2 / span 1;
}
.col-1.col-start-3 {
  grid-column: 3 / span 1;
}
.col-1.col-start-4 {
  grid-column: 4 / span 1;
}
.col-1.col-start-5 {
  grid-column: 5 / span 1;
}
.col-1.col-start-6 {
  grid-column: 6 / span 1;
}
.col-1.col-start-7 {
  grid-column: 7 / span 1;
}
.col-1.col-start-8 {
  grid-column: 8 / span 1;
}
.col-1.col-start-9 {
  grid-column: 9 / span 1;
}
.col-1.col-start-10 {
  grid-column: 10 / span 1;
}
.col-1.col-start-11 {
  grid-column: 11 / span 1;
}

.col-2 {
  grid-column: span 2;
}
.col-2.col-start-1 {
  grid-column: 1 / span 2;
}
.col-2.col-start-2 {
  grid-column: 2 / span 2;
}
.col-2.col-start-3 {
  grid-column: 3 / span 2;
}
.col-2.col-start-4 {
  grid-column: 4 / span 2;
}
.col-2.col-start-5 {
  grid-column: 5 / span 2;
}
.col-2.col-start-6 {
  grid-column: 6 / span 2;
}
.col-2.col-start-7 {
  grid-column: 7 / span 2;
}
.col-2.col-start-8 {
  grid-column: 8 / span 2;
}
.col-2.col-start-9 {
  grid-column: 9 / span 2;
}
.col-2.col-start-10 {
  grid-column: 10 / span 2;
}
.col-2.col-start-11 {
  grid-column: 11 / span 2;
}

.col-3 {
  grid-column: span 3;
}
.col-3.col-start-1 {
  grid-column: 1 / span 3;
}
.col-3.col-start-2 {
  grid-column: 2 / span 3;
}
.col-3.col-start-3 {
  grid-column: 3 / span 3;
}
.col-3.col-start-4 {
  grid-column: 4 / span 3;
}
.col-3.col-start-5 {
  grid-column: 5 / span 3;
}
.col-3.col-start-6 {
  grid-column: 6 / span 3;
}
.col-3.col-start-7 {
  grid-column: 7 / span 3;
}
.col-3.col-start-8 {
  grid-column: 8 / span 3;
}
.col-3.col-start-9 {
  grid-column: 9 / span 3;
}
.col-3.col-start-10 {
  grid-column: 10 / span 3;
}

.col-4 {
  grid-column: span 4;
}
.col-4.col-start-1 {
  grid-column: 1 / span 4;
}
.col-4.col-start-2 {
  grid-column: 2 / span 4;
}
.col-4.col-start-3 {
  grid-column: 3 / span 4;
}
.col-4.col-start-4 {
  grid-column: 4 / span 4;
}
.col-4.col-start-5 {
  grid-column: 5 / span 4;
}
.col-4.col-start-6 {
  grid-column: 6 / span 4;
}
.col-4.col-start-7 {
  grid-column: 7 / span 4;
}
.col-4.col-start-8 {
  grid-column: 8 / span 4;
}
.col-4.col-start-9 {
  grid-column: 9 / span 4;
}

.col-5 {
  grid-column: span 5;
}
.col-5.col-start-1 {
  grid-column: 1 / span 5;
}
.col-5.col-start-2 {
  grid-column: 2 / span 5;
}
.col-5.col-start-3 {
  grid-column: 3 / span 5;
}
.col-5.col-start-4 {
  grid-column: 4 / span 5;
}
.col-5.col-start-5 {
  grid-column: 5 / span 5;
}
.col-5.col-start-6 {
  grid-column: 6 / span 5;
}
.col-5.col-start-7 {
  grid-column: 7 / span 5;
}
.col-5.col-start-8 {
  grid-column: 8 / span 5;
}

.col-6 {
  grid-column: span 6;
}
.col-6.col-start-1 {
  grid-column: 1 / span 6;
}
.col-6.col-start-2 {
  grid-column: 2 / span 6;
}
.col-6.col-start-3 {
  grid-column: 3 / span 6;
}
.col-6.col-start-4 {
  grid-column: 4 / span 6;
}
.col-6.col-start-5 {
  grid-column: 5 / span 6;
}
.col-6.col-start-6 {
  grid-column: 6 / span 6;
}
.col-6.col-start-7 {
  grid-column: 7 / span 6;
}

.col-7 {
  grid-column: span 7;
}
.col-7.col-start-1 {
  grid-column: 1 / span 7;
}
.col-7.col-start-2 {
  grid-column: 2 / span 7;
}
.col-7.col-start-3 {
  grid-column: 3 / span 7;
}
.col-7.col-start-4 {
  grid-column: 4 / span 7;
}
.col-7.col-start-5 {
  grid-column: 5 / span 7;
}
.col-7.col-start-6 {
  grid-column: 6 / span 7;
}

.col-8 {
  grid-column: span 8;
}
.col-8.col-start-1 {
  grid-column: 1 / span 8;
}
.col-8.col-start-2 {
  grid-column: 2 / span 8;
}
.col-8.col-start-3 {
  grid-column: 3 / span 8;
}
.col-8.col-start-4 {
  grid-column: 4 / span 8;
}
.col-8.col-start-5 {
  grid-column: 5 / span 8;
}

.col-9 {
  grid-column: span 9;
}
.col-9.col-start-1 {
  grid-column: 1 / span 9;
}
.col-9.col-start-2 {
  grid-column: 2 / span 9;
}
.col-9.col-start-3 {
  grid-column: 3 / span 9;
}
.col-9.col-start-4 {
  grid-column: 4 / span 9;
}

.col-10 {
  grid-column: span 10;
}
.col-10.col-start-1 {
  grid-column: 1 / span 10;
}
.col-10.col-start-2 {
  grid-column: 2 / span 10;
}
.col-10.col-start-3 {
  grid-column: 3 / span 10;
}

.col-11 {
  grid-column: span 11;
}
.col-11.col-start-1 {
  grid-column: 1 / span 11;
}
.col-11.col-start-2 {
  grid-column: 2 / span 11;
}

.col-12 {
  grid-column: span 12;
}
.col-12.col-start-1 {
  grid-column: 1 / span 12;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImdsb2JhbC9fZ3JpZC5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQU1BO0VBQ0Usa0JBUDRCO0VBUTVCLGtCQVA0QjtFQVE1QixrQkFQd0I7RUFReEIsaUJBUndCLEVBU3pCOztBQUVEO0VBQ0UsY0FBYTtFQUNiLHVDQUFpRDtFQUNqRCxvQkFad0IsRUFrQnpCO0VBVEQ7SUFPSSxxQkFqQnNCLEVBa0J2Qjs7QUFJRDtFQUNFLG9CQUF1QixFQVl4QjtFQWJEO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1EsdUJBQTRDLEVBQzlDO0VBVk47SUFTUSx1QkFBNEMsRUFDOUM7O0FBVk47RUFDRSxvQkFBdUIsRUFZeEI7RUFiRDtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHVCQUE0QyxFQUM5QztFQVZOO0lBU1EsdUJBQTRDLEVBQzlDOztBQVZOO0VBQ0Usb0JBQXVCLEVBWXhCO0VBYkQ7SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSx1QkFBNEMsRUFDOUM7O0FBVk47RUFDRSxvQkFBdUIsRUFZeEI7RUFiRDtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7O0FBVk47RUFDRSxvQkFBdUIsRUFZeEI7RUFiRDtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDOztBQVZOO0VBQ0Usb0JBQXVCLEVBWXhCO0VBYkQ7SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7O0FBVk47RUFDRSxvQkFBdUIsRUFZeEI7RUFiRDtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7O0FBVk47RUFDRSxvQkFBdUIsRUFZeEI7RUFiRDtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDOztBQVZOO0VBQ0Usb0JBQXVCLEVBWXhCO0VBYkQ7SUFTUSxzQkFBNEMsRUFDOUM7RUFWTjtJQVNRLHNCQUE0QyxFQUM5QztFQVZOO0lBU1Esc0JBQTRDLEVBQzlDO0VBVk47SUFTUSxzQkFBNEMsRUFDOUM7O0FBVk47RUFDRSxxQkFBdUIsRUFZeEI7RUFiRDtJQVNRLHVCQUE0QyxFQUM5QztFQVZOO0lBU1EsdUJBQTRDLEVBQzlDO0VBVk47SUFTUSx1QkFBNEMsRUFDOUM7O0FBVk47RUFDRSxxQkFBdUIsRUFZeEI7RUFiRDtJQVNRLHVCQUE0QyxFQUM5QztFQVZOO0lBU1EsdUJBQTRDLEVBQzlDOztBQVZOO0VBQ0UscUJBQXVCLEVBWXhCO0VBYkQ7SUFTUSx1QkFBNEMsRUFDOUMiLCJmaWxlIjoic3R5bGUtZ3VpZGUtZ3JpZC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIkZ3JpZC1jb250YWluZXItbWF4OiAgICAxOTIwcHg7XG4kZ3JpZC1jb250YWluZXItbWluOiAgICAxMDI0cHg7XG4kZ3JpZC1jb250YWluZXItZ3V0dGVyOiA2JTtcbiRncmlkLWNvbHVtbnM6ICAgICAgICAgIDEyO1xuJGdyaWQtZ3V0dGVyOiAgICAgICAgICAgMiU7XG5cbi5jb250YWluZXIge1xuICBtYXgtd2lkdGg6ICRncmlkLWNvbnRhaW5lci1tYXg7XG4gIG1pbi13aWR0aDogJGdyaWQtY29udGFpbmVyLW1pbjtcbiAgcGFkZGluZy1yaWdodDogJGdyaWQtY29udGFpbmVyLWd1dHRlcjtcbiAgcGFkZGluZy1sZWZ0OiAkZ3JpZC1jb250YWluZXItZ3V0dGVyO1xufVxuXG4ucm93IHtcbiAgZGlzcGxheTogZ3JpZDtcbiAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoJGdyaWQtY29sdW1ucywgMWZyKTtcbiAgZ3JpZC1jb2x1bW4tZ2FwOiAkZ3JpZC1ndXR0ZXI7XG5cbiAgLy8gc3BhbiB0aGUgZnVsbCB3aWR0aCBvZiB0aGUgZ3JpZCBpZiBhIGNvbHVtbiBjbGFzcyBpcyBub3QgYXNzaWduZWRcbiAgPiA6bm90KFtjbGFzcyo9XCJjb2wtXCJdKSB7XG4gICAgZ3JpZC1jb2x1bW46IHNwYW4gJGdyaWQtY29sdW1ucztcbiAgfVxufVxuXG5AZm9yICR4IGZyb20gMSB0aHJvdWdoICRncmlkLWNvbHVtbnMge1xuICAuY29sLSN7JHh9IHtcbiAgICBncmlkLWNvbHVtbjogc3BhbiAjeyR4fTtcblxuICAgIEBmb3IgJHkgZnJvbSAxIHRvICRncmlkLWNvbHVtbnMge1xuICAgICAgJGdyaWQtY29sdW1uLXN0YXJ0OiAoJHkpO1xuICAgICAgJGdyaWQtY29sdW1uLXRvdGFsOiAoJHggKyAkeSAtIDEpO1xuXG4gICAgICBAaWYgJGdyaWQtY29sdW1uLXRvdGFsIDw9ICRncmlkLWNvbHVtbnMge1xuICAgICAgICAmLmNvbC1zdGFydC0jeyR5fSB7XG4gICAgICAgICAgZ3JpZC1jb2x1bW46ICRncmlkLWNvbHVtbi1zdGFydCAvIHNwYW4gI3skeH07XG4gICAgICBcdH1cblx0XHRcdH1cbiAgICB9XG4gIH1cbn1cbiJdfQ== */
