@import './global/variables.scss';

.modal-fullscreen {
  position: fixed;
  right: 0;
  bottom: -100%;
  left: 0;
  z-index: 999; // TODO: z-index needs a system so we don't have arbitrary numbers like this
  height: 100%;
  background-color: $white;
  transition: bottom 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  &.is-open {
    bottom: 0;
  }
  &-header {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: darken($slate, 5%);
  }
  :global {
    h2,
    [data-tooltip] i,
    i,
    [data-tooltip] i:hover {
      color: $white;
    }
    [data-tooltip] i {
      margin-left: 6px;
    }
  }
  &-header h2 {
    flex: 1;
    margin-bottom: 0;
    margin-left: 27px;
  }
  &-header [data-tooltip] .sg-icon,
  &-header [data-tooltip] .sg-icon:hover {
    color: $white;
  }
  :global {
    .btn-list {
      margin-right: 20px;
      justify-self: flex-end;
    }
  }
  .modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .modal-close i {
    font-size: 20px;
  }
  .modal-content {
    height: calc(100vh - 70px);
    overflow-y: scroll;
    &.has-padding {
      padding: 60px;
    }
    .modal-thumb {
      margin-bottom: 20px;
    }
  }
}
