@import './global/variables.scss';
 .plan-card{
     
     .package-name{
         margin-bottom: 5px;
    }
     .link{
         margin-left: 21px;
         line-height: 34px !important;
         margin: 30px;
    }
     .col1{
         float: left;
         padding-right: 30px;
         height: fit-content;
    }
     .small-icon {
         font-size: 10px !important;
         margin-right: 9px;
    }
     .plan-status{
         line-height: 40px !important;
    }
     .taxes-footnote{
         text-align: right;
         padding-right: 4px;
    }
     .price{
         line-height: 49px !important;
         font-weight: bold;
    }
     .card-padding{
         padding:16.66px 18px 0 18px !important;
    }
     .card p {
         margin-bottom: 16px !important;
    }
     button{
         margin-left: 9px !important;
         font-weight: normal !important;
    }
     .packages-container{
         margin-left: 270px;
         margin-bottom: 12px;
    }
     .mantis {
         color: $mantis;
    }
     .small {
         font-size: 13px;
    }
}
