@import './global/variables.scss';

.details-row{

&.steel {
    color: $steel;
  }
&.mantis {
    color: $mantis;
  }

&.title{
    font-size: 13px;
    line-height: 0px;
    margin-bottom: 3px;
    
    i {
        font-size: 10px;
    }
}

&.spacing{
    vertical-align: sub;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 3px;
}
}