@import '../styles/global/variables.scss';
@import '../styles/global/mixins.scss';

.accordion-wrapper {
  background-color: $white;
  border: 1px solid $slate-10;
  border-radius: $border-radius;

  &.is-editor {
    border-right: 0;
    border-left: 0;
    border-radius: 0;

    .accordion-title {
      padding: 20px 20px 20px 40px;
    }

    .accordion-content {
      @include clearfix;
      padding: 20px 0 5px 15px;
    }
  }

  p {
    font-size: 13px;
    line-height: 20px;
  }
}

.accordion-panel {
  border-bottom: 1px solid $slate-10;

  &.has-child {
    .accordion-wrapper {
      border: 0;
    }

    .accordion-wrapper .accordion-content {
      padding: 30px;
    }

    .accordion-content {
      padding: 0;
    }
  }

  &.is-visible {
    > .accordion-title::after {
      transform: rotate(0);
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}

.accordion-title {
  position: relative;
  padding: 15px 90px 15px 15px;
  cursor: pointer;

  &::after {
    @include icon-font-base;
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -10px;
    font-size: 20px;
    content: $icon-caret;
    transform: rotate(-90deg);
    transition: transform 0.3s;
  }

  h2,
  h3,
  h4 {
    margin-bottom: 0;
  }

  h4 {
    line-height: 20px;
  }

  p {
    margin-top: 12px;
    margin-bottom: 0;
  }
}

.accordion-check-circle::before {
  @include icon-font-base;
  position: absolute;
  left: 30px;
  color: $slate-20;
  content: $icon-status-positive;
}

.accordion-content {
  display: none;
  padding: 30px;
  background-color: $slate-02;
  border-top: 1px solid $slate-10;

  &.accordion-list {
    padding: 0;

    li {
      position: relative;
      padding: 30px 60px;
      border-bottom: 1px solid $slate-10;
    }

    li:last-child {
      border-bottom: 0;
    }

    .is-complete::before {
      color: $mantis;
    }

    .btn {
      position: absolute;
      top: 50%;
      right: 60px;
      margin-top: -22.5px;
    }
  }

  p {
    margin-bottom: 0;
  }
}

.accordion-caret-left {
  .accordion-title {
    padding-left: 50px;
  }

  .accordion-title::after {
    right: auto;
    left: 15px;
  }
}

.accordion-large {
  .accordion-title {
    padding: 30px 90px 30px 100px;

    .accordion-icon {
      position: absolute;
      left: 30px;
      width: 40px;
      margin-right: 30px;
      font-size: 40px;
    }
  }

  .accordion-title::after {
    margin-top: -20px;
    font-size: 40px;
  }

  .accordion-content {
    padding: 30px 100px;

    &.accordion-list {
      padding: 0;
    }
  }

  .accordion-list {
    li {
      padding: 30px 100px;
    }

    li::before {
      left: 70px;
    }
  }
}
