@import './variables.scss';
@import './mixins.scss';

// colfax - http://goo.gl/U2k5AW
@font-face {
  font-family: 'Colfax';
  font-style: normal;
  font-weight: 300;
  src: url('#{$font-path}/colfax/colfax-light.woff2') format('woff2'),
    url('#{$font-path}/colfax/colfax-light.woff') format('woff');
}

@font-face {
  font-family: 'Colfax';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}/colfax/colfax-regular.woff2') format('woff2'),
    url('#{$font-path}/colfax/colfax-regular.woff') format('woff');
}

@font-face {
  font-family: 'Colfax';
  font-style: normal;
  font-weight: 600;
  src: url('#{$font-path}/colfax/colfax-medium.woff2') format('woff2'),
    url('#{$font-path}/colfax/colfax-medium.woff') format('woff');
}

// icon font - http://icomoon.com
@font-face {
  font-family: 'styleguideicons';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}/icons/style-guide-icons.eot');
  src: url('#{$font-path}/icons/style-guide-icons.eot#iefix')
      format('embedded-opentype'),
    url('#{$font-path}/icons/style-guide-icons.ttf') format('truetype'),
    url('#{$font-path}/icons/style-guide-icons.woff') format('woff'),
    url('#{$font-path}/icons/style-guide-icons.svg#style-guide-icons')
      format('svg');
}

body {
  @include colfax();
  color: $slate-80;
}

h1,
h2,
h3,
h4,
.is-size-h1,
.is-size-h2,
.is-size-h3,
.is-size-h4 {
  font-weight: 600;
  color: $slate;
}

h1,
.is-size-h1 {
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1px;
}

h2,
.is-size-h2 {
  margin-bottom: 18px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.5px;
}

h3,
.is-size-h3 {
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 18px;
}

h4,
.is-size-h4 {
  margin-bottom: 9px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: $slate-80;
  text-transform: uppercase;
}

p {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 27px;

  .sg-icon {
    margin-right: 6px;
    vertical-align: text-bottom;
  }
}

ol,
ul {
  font-size: 13px;
  line-height: 20px;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

strong em,
em strong {
  font-style: italic;
  font-weight: 600;
}

abbr {
  text-decoration: none;
  background-image: linear-gradient(to right, $slate 33%, $white 0%);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 3px 1px;
}

// TODO: only used in tables-empty.njk
// remove after verifying that nothing is broken (replace w/ .is-centered ?)
.is-center {
  text-align: center;
}

.error {
  color: $ron-burgundy;
}

small,
.small {
  font-size: 13px;
  line-height: 20px;
}

.mono {
  font-family: 'Andale Mono', Monaco, Consolas, 'Lucida Console', monospace;
}

.highlighter {
  background-color: $color-highlighter;
}

.is-weight-light {
  font-weight: 300;
}

.is-weight-medium {
  font-weight: 600;
}
